.buttons-container {
  display: flex;
  margin-top: 10px;
}

.game-option {
  flex-grow: 1;
  background: none;
  border: 1px solid #000;
  padding: 10px 5px;
}

.answer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

table tbody tr:nth-child(even) {
  background-color: aqua;
}

table td:first-child {
  width: 10%;
}

table td:nth-child(2) {
  width: 45%;
}

table td:last-child {
  width: 45%;
}