main {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}


.icon-win {
  color: green;
}

.icon-lost {
  color: red;
}

.icon-win::before {
  content: "✓";
}

.icon-lost::before {
  content: "✘";
}

.icon-tie::before {
  content: "=";
}

.big-button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}